/* CSS for personal site: Lotus Garden */

@import url('https://fonts.googleapis.com/css2?family=IM+Fell+French+Canon&family=Lato:ital,wght@0,400;0,700;1,400&display=swap');

body {
    background-color: rgb(188, 188, 250);
    color: #724;
    font-family: "Times New Roman", Helvetica, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

#content {
    max-width: 1600px;
    margin: 0 auto;
}
header {
    background-color: #fcb0c7;
    display: grid;
    grid-template-columns: 150px auto;
}
#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
.logo {
    width: 80px;
    border-radius: 50%;
}
nav {
    /* flex box */
    display: flex;
    justify-content: space-around;
}
nav a {
    text-align: center;
    color: white;
    text-decoration: none;
    padding: 35px;
}
nav a:hover {
    background-color: #ec95af;
    color: white;
}
.hero-home {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}
.hero-box-home {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
.hero-img-home {
    width: 100%;
}
.hero-msg-home {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}
.home-title {
    font-family: "Voltaire", "Tinos", sans-serif;
    font-size: 2em;
    margin-top: 10px;
    text-align: center;
    color: white;
}